CMakeFiles/cmake.check_cache
CMakeFiles/CMakeConfigureLog.yaml
CMakeFiles/3.27.4/CMakeCCompiler.cmake
CMakeFiles/3.27.4/CMakeCXXCompiler.cmake
CMakeFiles/3.27.4/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.27.4/CMakeRCCompiler.cmake
CMakeFiles/3.27.4/CMakeSystem.cmake
CMakeFiles/3.27.4/VCTargetsPath.txt
CMakeFiles/3.27.4/VCTargetsPath.vcxproj
CMakeFiles/3.27.4/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.27.4/CompilerIdC/CompilerIdC.exe
CMakeFiles/3.27.4/CompilerIdC/CompilerIdC.vcxproj
CMakeFiles/3.27.4/CompilerIdC/Debug/CMakeCCompilerId.obj
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.exe.recipe
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.27.4/CompilerIdCXX/CompilerIdCXX.exe
CMakeFiles/3.27.4/CompilerIdCXX/CompilerIdCXX.vcxproj
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
CMakeFiles/3.27.4/x64/Debug/VCTargetsPath.recipe
CMakeFiles/3.27.4/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj.user
build/cmake_install.cmake
build/CMakeCache.txt
build/HelloProj.sln
build/HelloProjConfig.h
build/HelloWorld.vcxproj
build/HelloWorld.vcxproj.filters
build/HelloWorld.vcxproj.user
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.vs/cmake.db
build/.vs/HelloProj/FileContentIndex/40c312b6-7988-419c-b80b-f6ac5c096a45.vsidx
build/.vs/HelloProj/FileContentIndex/8935e3cc-45b6-42c8-91b8-4890d287e0c2.vsidx
build/.vs/HelloProj/FileContentIndex/70390a11-4496-43b6-9e54-f37482aac0c9.vsidx
build/.vs/HelloProj/FileContentIndex/f193c7e7-3b46-4549-96ab-0202190413bf.vsidx
build/.vs/HelloProj/FileContentIndex/read.lock
build/.vs/HelloProj/v17/.suo
build/.vs/HelloProj/v17/Browse.VC.db
build/.vs/HelloProj/v17/Browse.VC.db-shm
build/.vs/HelloProj/v17/Browse.VC.db-wal
build/.vs/HelloProj/v17/Browse.VC.opendb
build/.vs/HelloProj/v17/Solution.VC.db
build/.vs/HelloProj/v17/Solution.VC.db-shm
build/.vs/HelloProj/v17/Solution.VC.db-wal
build/.vs/HelloProj/v17/ipch/AutoPCH/4a946c0720e86918/MESSAGE.ipch
build/.vs/HelloProj/v17/ipch/AutoPCH/7d7119daaa981103/HELLO.ipch
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/0a7013844760da9c9143d918dd8d4b6b/generate.stamp.rule
build/CMakeFiles/3.27.4/CMakeCCompiler.cmake
build/CMakeFiles/3.27.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.4/CMakeRCCompiler.cmake
build/CMakeFiles/3.27.4/CMakeSystem.cmake
build/CMakeFiles/3.27.4/VCTargetsPath.txt
build/CMakeFiles/3.27.4/VCTargetsPath.vcxproj
build/CMakeFiles/3.27.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.27.4/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.27.4/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.27.4/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.27.4/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.27.4/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.27.4/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/Debug/HelloWorld.exe
build/Debug/HelloWorld.pdb
build/HelloWorld.dir/Debug/hello.obj
build/HelloWorld.dir/Debug/HelloWorld.exe.recipe
build/HelloWorld.dir/Debug/HelloWorld.ilk
build/HelloWorld.dir/Debug/HelloWorld.log
build/HelloWorld.dir/Debug/vc143.pdb
build/HelloWorld.dir/Debug/HelloWorld.tlog/CL.command.1.tlog
build/HelloWorld.dir/Debug/HelloWorld.tlog/Cl.items.tlog
build/HelloWorld.dir/Debug/HelloWorld.tlog/CL.read.1.tlog
build/HelloWorld.dir/Debug/HelloWorld.tlog/CL.write.1.tlog
build/HelloWorld.dir/Debug/HelloWorld.tlog/CustomBuild.command.1.tlog
build/HelloWorld.dir/Debug/HelloWorld.tlog/CustomBuild.read.1.tlog
build/HelloWorld.dir/Debug/HelloWorld.tlog/CustomBuild.write.1.tlog
build/HelloWorld.dir/Debug/HelloWorld.tlog/HelloWorld.lastbuildstate
build/HelloWorld.dir/Debug/HelloWorld.tlog/link.command.1.tlog
build/mains/cmake_install.cmake
build/mains/HelloWorld.vcxproj
build/mains/HelloWorld.vcxproj.filters
build/mains/HelloWorld.vcxproj.user
build/mains/CMakeFiles/generate.stamp
build/mains/CMakeFiles/generate.stamp.depend
build/mains/Debug/HelloWorld.exe
build/mains/Debug/HelloWorld.pdb
build/mains/HelloWorld.dir/Debug/hello.obj
build/mains/HelloWorld.dir/Debug/HelloWorld.exe.recipe
build/mains/HelloWorld.dir/Debug/HelloWorld.ilk
build/mains/HelloWorld.dir/Debug/HelloWorld.log
build/mains/HelloWorld.dir/Debug/vc143.pdb
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/CL.command.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/Cl.items.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/CL.read.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/CL.write.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/CustomBuild.command.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/CustomBuild.read.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/CustomBuild.write.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/HelloWorld.lastbuildstate
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/link.command.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/link.read.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/link.write.1.tlog
build/src/basic/basic.vcxproj
build/src/basic/basic.vcxproj.filters
build/src/basic/cmake_install.cmake
build/src/basic/CMakeFiles/generate.stamp
build/src/basic/CMakeFiles/generate.stamp.depend
build/src/basic/Debug/basic.lib
build/src/basic/Debug/basic.pdb
build/src/basic/basic.dir/Debug/basic.lib.recipe
build/src/basic/basic.dir/Debug/basic.log
build/src/basic/basic.dir/Debug/message.obj
build/src/basic/basic.dir/Debug/basic.tlog/basic.lastbuildstate
build/src/basic/basic.dir/Debug/basic.tlog/CL.command.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/Cl.items.tlog
build/src/basic/basic.dir/Debug/basic.tlog/CL.read.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/CL.write.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/CustomBuild.command.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/CustomBuild.read.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/CustomBuild.write.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/Lib-link.read.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/Lib-link.write.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/Lib.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/CTestTestfile.cmake
build/RUN_TESTS.vcxproj
build/RUN_TESTS.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-10dd6be6cb4ff7c752fc.json
build/.cmake/api/v1/reply/cmakeFiles-v1-b46218e3145bb965b82c.json
build/.cmake/api/v1/reply/codemodel-v2-a1a3b81b562f405257d4.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-mains-Debug-4e253d5af3a141ed8aef.json
build/.cmake/api/v1/reply/directory-mains-MinSizeRel-4e253d5af3a141ed8aef.json
build/.cmake/api/v1/reply/directory-mains-Release-4e253d5af3a141ed8aef.json
build/.cmake/api/v1/reply/directory-mains-RelWithDebInfo-4e253d5af3a141ed8aef.json
build/.cmake/api/v1/reply/directory-src.basic-Debug-4bfdb8d2ed15d7aaead4.json
build/.cmake/api/v1/reply/directory-src.basic-MinSizeRel-4bfdb8d2ed15d7aaead4.json
build/.cmake/api/v1/reply/directory-src.basic-Release-4bfdb8d2ed15d7aaead4.json
build/.cmake/api/v1/reply/directory-src.basic-RelWithDebInfo-4bfdb8d2ed15d7aaead4.json
build/.cmake/api/v1/reply/directory-tests-Debug-70e4927a02b591d5c1f8.json
build/.cmake/api/v1/reply/directory-tests-MinSizeRel-70e4927a02b591d5c1f8.json
build/.cmake/api/v1/reply/directory-tests-Release-70e4927a02b591d5c1f8.json
build/.cmake/api/v1/reply/directory-tests-RelWithDebInfo-70e4927a02b591d5c1f8.json
build/.cmake/api/v1/reply/index-2023-09-15T08-05-35-0568.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-ae23d0f9448a3fe70de2.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-ae23d0f9448a3fe70de2.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-ae23d0f9448a3fe70de2.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-ae23d0f9448a3fe70de2.json
build/.cmake/api/v1/reply/target-basic-Debug-87fac855e0902948eb35.json
build/.cmake/api/v1/reply/target-basic-MinSizeRel-2af585a8a53273fe4fef.json
build/.cmake/api/v1/reply/target-basic-Release-9e9d6dfadda7502d65ce.json
build/.cmake/api/v1/reply/target-basic-RelWithDebInfo-b4d1441b4dce31c27c7f.json
build/.cmake/api/v1/reply/target-HelloWorld-Debug-446aa8dc99931eb3ae16.json
build/.cmake/api/v1/reply/target-HelloWorld-MinSizeRel-c30b7a64275eb3d47712.json
build/.cmake/api/v1/reply/target-HelloWorld-Release-5dd369de3c2f3f4090b9.json
build/.cmake/api/v1/reply/target-HelloWorld-RelWithDebInfo-1da3a45dec9d478115ba.json
build/.cmake/api/v1/reply/target-test_hello-Debug-e6a3b392abf9a39e61a3.json
build/.cmake/api/v1/reply/target-test_hello-MinSizeRel-bc2a31adf4b5145565e4.json
build/.cmake/api/v1/reply/target-test_hello-Release-9739912be76409a39f93.json
build/.cmake/api/v1/reply/target-test_hello-RelWithDebInfo-605ed4b9d76d4646b322.json
build/.cmake/api/v1/reply/target-test_version-Debug-2e4e6705e23888d8a608.json
build/.cmake/api/v1/reply/target-test_version-MinSizeRel-955f599ced2cd320b38c.json
build/.cmake/api/v1/reply/target-test_version-Release-fdb465a163efcce50835.json
build/.cmake/api/v1/reply/target-test_version-RelWithDebInfo-283892a34c6854a51dc8.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-3b0f297744ff1af0c7a8.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-3b0f297744ff1af0c7a8.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-3b0f297744ff1af0c7a8.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-3b0f297744ff1af0c7a8.json
build/.cmake/api/v1/reply/toolchains-v1-4fda64d054bcf7ae679f.json
build/CMakeFiles/0a7013844760da9c9143d918dd8d4b6b/RUN_TESTS_force.rule
build/CMakeFiles/5c49db9089e8d2b2be1d380807d2eb7f/RUN_TESTS_force.rule
build/CMakeFiles/a4bf31b645793256a902b22f897d1800/RUN_TESTS_force.rule
build/CMakeFiles/f29e358f09ae0356a3f9418043c127be/RUN_TESTS_force.rule
build/Testing/TAG
build/Testing/20230915-0804/Test.xml
build/Testing/Temporary/CTestCostData.txt
build/Testing/Temporary/LastTest_20230915-0804.log
build/Testing/Temporary/LastTestsFailed_20230915-0804.log
build/mains/RUN_TESTS.vcxproj
build/mains/RUN_TESTS.vcxproj.filters
build/src/basic/RUN_TESTS.vcxproj
build/src/basic/RUN_TESTS.vcxproj.filters
build/tests/cmake_install.cmake
build/tests/CTestTestfile.cmake
build/tests/RUN_TESTS.vcxproj
build/tests/RUN_TESTS.vcxproj.filters
build/tests/test_hello.vcxproj
build/tests/test_hello.vcxproj.filters
build/tests/test_version.vcxproj
build/tests/test_version.vcxproj.filters
build/tests/CMakeFiles/generate.stamp
build/tests/CMakeFiles/generate.stamp.depend
build/tests/Debug/test_hello.exe
build/tests/Debug/test_hello.pdb
build/tests/Debug/test_version.exe
build/tests/Debug/test_version.pdb
build/tests/test_hello.dir/Debug/test_hello.exe.recipe
build/tests/test_hello.dir/Debug/test_hello.ilk
build/tests/test_hello.dir/Debug/test-hello.obj
build/tests/test_hello.dir/Debug/vc143.pdb
build/tests/test_hello.dir/Debug/test_hello.tlog/CL.command.1.tlog
build/tests/test_hello.dir/Debug/test_hello.tlog/Cl.items.tlog
build/tests/test_hello.dir/Debug/test_hello.tlog/CL.read.1.tlog
build/tests/test_hello.dir/Debug/test_hello.tlog/CL.write.1.tlog
build/tests/test_hello.dir/Debug/test_hello.tlog/CustomBuild.command.1.tlog
build/tests/test_hello.dir/Debug/test_hello.tlog/CustomBuild.read.1.tlog
build/tests/test_hello.dir/Debug/test_hello.tlog/CustomBuild.write.1.tlog
build/tests/test_hello.dir/Debug/test_hello.tlog/link.command.1.tlog
build/tests/test_hello.dir/Debug/test_hello.tlog/link.read.1.tlog
build/tests/test_hello.dir/Debug/test_hello.tlog/link.write.1.tlog
build/tests/test_hello.dir/Debug/test_hello.tlog/test_hello.lastbuildstate
build/tests/test_version.dir/Debug/test_version.exe.recipe
build/tests/test_version.dir/Debug/test_version.ilk
build/tests/test_version.dir/Debug/test-version.obj
build/tests/test_version.dir/Debug/vc143.pdb
build/tests/test_version.dir/Debug/test_version.tlog/CL.command.1.tlog
build/tests/test_version.dir/Debug/test_version.tlog/Cl.items.tlog
build/tests/test_version.dir/Debug/test_version.tlog/CL.read.1.tlog
build/tests/test_version.dir/Debug/test_version.tlog/CL.write.1.tlog
build/tests/test_version.dir/Debug/test_version.tlog/CustomBuild.command.1.tlog
build/tests/test_version.dir/Debug/test_version.tlog/CustomBuild.read.1.tlog
build/tests/test_version.dir/Debug/test_version.tlog/CustomBuild.write.1.tlog
build/tests/test_version.dir/Debug/test_version.tlog/link.command.1.tlog
build/tests/test_version.dir/Debug/test_version.tlog/link.read.1.tlog
build/tests/test_version.dir/Debug/test_version.tlog/link.write.1.tlog
build/tests/test_version.dir/Debug/test_version.tlog/test_version.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
