CMakeFiles/cmake.check_cache
CMakeFiles/CMakeConfigureLog.yaml
CMakeFiles/3.27.4/CMakeCCompiler.cmake
CMakeFiles/3.27.4/CMakeCXXCompiler.cmake
CMakeFiles/3.27.4/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.27.4/CMakeRCCompiler.cmake
CMakeFiles/3.27.4/CMakeSystem.cmake
CMakeFiles/3.27.4/VCTargetsPath.txt
CMakeFiles/3.27.4/VCTargetsPath.vcxproj
CMakeFiles/3.27.4/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.27.4/CompilerIdC/CompilerIdC.exe
CMakeFiles/3.27.4/CompilerIdC/CompilerIdC.vcxproj
CMakeFiles/3.27.4/CompilerIdC/Debug/CMakeCCompilerId.obj
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.exe.recipe
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.27.4/CompilerIdCXX/CompilerIdCXX.exe
CMakeFiles/3.27.4/CompilerIdCXX/CompilerIdCXX.vcxproj
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
CMakeFiles/3.27.4/x64/Debug/VCTargetsPath.recipe
CMakeFiles/3.27.4/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj.user
build/cmake_install.cmake
build/CMakeCache.txt
build/HelloProj.sln
build/HelloProjConfig.h
build/HelloWorld.vcxproj
build/HelloWorld.vcxproj.filters
build/HelloWorld.vcxproj.user
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.vs/cmake.db
build/.vs/HelloProj/FileContentIndex/40c312b6-7988-419c-b80b-f6ac5c096a45.vsidx
build/.vs/HelloProj/FileContentIndex/8935e3cc-45b6-42c8-91b8-4890d287e0c2.vsidx
build/.vs/HelloProj/FileContentIndex/70390a11-4496-43b6-9e54-f37482aac0c9.vsidx
build/.vs/HelloProj/FileContentIndex/f193c7e7-3b46-4549-96ab-0202190413bf.vsidx
build/.vs/HelloProj/FileContentIndex/read.lock
build/.vs/HelloProj/v17/.suo
build/.vs/HelloProj/v17/Browse.VC.db
build/.vs/HelloProj/v17/Browse.VC.db-shm
build/.vs/HelloProj/v17/Browse.VC.db-wal
build/.vs/HelloProj/v17/Browse.VC.opendb
build/.vs/HelloProj/v17/Solution.VC.db
build/.vs/HelloProj/v17/Solution.VC.db-shm
build/.vs/HelloProj/v17/Solution.VC.db-wal
build/.vs/HelloProj/v17/ipch/AutoPCH/4a946c0720e86918/MESSAGE.ipch
build/.vs/HelloProj/v17/ipch/AutoPCH/7d7119daaa981103/HELLO.ipch
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/0a7013844760da9c9143d918dd8d4b6b/generate.stamp.rule
build/CMakeFiles/3.27.4/CMakeCCompiler.cmake
build/CMakeFiles/3.27.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.4/CMakeRCCompiler.cmake
build/CMakeFiles/3.27.4/CMakeSystem.cmake
build/CMakeFiles/3.27.4/VCTargetsPath.txt
build/CMakeFiles/3.27.4/VCTargetsPath.vcxproj
build/CMakeFiles/3.27.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.27.4/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.27.4/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.27.4/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.27.4/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.27.4/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.27.4/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/Debug/HelloWorld.exe
build/Debug/HelloWorld.pdb
build/HelloWorld.dir/Debug/hello.obj
build/HelloWorld.dir/Debug/HelloWorld.exe.recipe
build/HelloWorld.dir/Debug/HelloWorld.ilk
build/HelloWorld.dir/Debug/HelloWorld.log
build/HelloWorld.dir/Debug/vc143.pdb
build/HelloWorld.dir/Debug/HelloWorld.tlog/CL.command.1.tlog
build/HelloWorld.dir/Debug/HelloWorld.tlog/Cl.items.tlog
build/HelloWorld.dir/Debug/HelloWorld.tlog/CL.read.1.tlog
build/HelloWorld.dir/Debug/HelloWorld.tlog/CL.write.1.tlog
build/HelloWorld.dir/Debug/HelloWorld.tlog/CustomBuild.command.1.tlog
build/HelloWorld.dir/Debug/HelloWorld.tlog/CustomBuild.read.1.tlog
build/HelloWorld.dir/Debug/HelloWorld.tlog/CustomBuild.write.1.tlog
build/HelloWorld.dir/Debug/HelloWorld.tlog/HelloWorld.lastbuildstate
build/HelloWorld.dir/Debug/HelloWorld.tlog/link.command.1.tlog
build/mains/cmake_install.cmake
build/mains/HelloWorld.vcxproj
build/mains/HelloWorld.vcxproj.filters
build/mains/HelloWorld.vcxproj.user
build/mains/CMakeFiles/generate.stamp
build/mains/CMakeFiles/generate.stamp.depend
build/mains/Debug/HelloWorld.exe
build/mains/Debug/HelloWorld.pdb
build/mains/HelloWorld.dir/Debug/hello.obj
build/mains/HelloWorld.dir/Debug/HelloWorld.exe.recipe
build/mains/HelloWorld.dir/Debug/HelloWorld.ilk
build/mains/HelloWorld.dir/Debug/HelloWorld.log
build/mains/HelloWorld.dir/Debug/vc143.pdb
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/CL.command.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/Cl.items.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/CL.read.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/CL.write.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/CustomBuild.command.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/CustomBuild.read.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/CustomBuild.write.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/HelloWorld.lastbuildstate
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/link.command.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/link.read.1.tlog
build/mains/HelloWorld.dir/Debug/HelloWorld.tlog/link.write.1.tlog
build/src/basic/basic.vcxproj
build/src/basic/basic.vcxproj.filters
build/src/basic/cmake_install.cmake
build/src/basic/CMakeFiles/generate.stamp
build/src/basic/CMakeFiles/generate.stamp.depend
build/src/basic/Debug/basic.lib
build/src/basic/Debug/basic.pdb
build/src/basic/basic.dir/Debug/basic.lib.recipe
build/src/basic/basic.dir/Debug/basic.log
build/src/basic/basic.dir/Debug/message.obj
build/src/basic/basic.dir/Debug/basic.tlog/basic.lastbuildstate
build/src/basic/basic.dir/Debug/basic.tlog/CL.command.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/Cl.items.tlog
build/src/basic/basic.dir/Debug/basic.tlog/CL.read.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/CL.write.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/CustomBuild.command.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/CustomBuild.read.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/CustomBuild.write.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/Lib-link.read.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/Lib-link.write.1.tlog
build/src/basic/basic.dir/Debug/basic.tlog/Lib.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
